include CONTRIBUTORS LICENSE *.rst
recursive-include django_uwsgi *
recursive-include docs Makefile conf.py requirements-docs.txt *.rst *.png
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
