{% load i18n %}
{% if unavailable %}
    <h1>{% trans 'ERROR: uWSGI is not available!' %}</h1>
{% else %}
<h1>uWSGI {{ version }} status @ {{ hostname }}</h1>
<div id="content-main" class="inline-related tabular">
    <div class="module">
        <table>
            <caption>{% trans 'Status' %}</caption>
            <tbody>
                {% for key, value in stats %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <th scope="row">{{ key }}</th><td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="module">
        <table>
            <caption>{% trans 'Options' %}</caption>
            <tbody>
                {% for key, value in options %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <th scope="row">{{ key }}</th><td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="module balanced">
        <table>
            <caption>{% trans 'Workers' %}</caption>
            <thead>
                <tr>
                    <th>id</th>
                    <th>pid</th>
                    <th>status</th>
                    <th>requests</th>
                    <th>exceptions</th>
                    <th>running time (milliseconds)</th>
                    <th>load</th>
                    <th>last spawn</th>
                    <th>respawn count</th>
                    <th>address space (vsz)</th>
                    <th>resident memory (rss)</th>
                </tr>
            </thead>
            <tbody>
            {% for w in workers %}
                <tr>
                    <td>{{ w.id }}</td>
                    <td>{{ w.pid }}</td>
                    <td>{{ w.status }}</td>
                    <td>{{ w.requests }}</td>
                    <td>{{ w.exceptions }}</td>
                    <td>{{ w.running_time }}</td>
                    <td>{{ w.load|floatformat:2 }} %</td>
                    <td>{{ w.last_spawn }}</td>
                    <td>{{ w.respawn_count }}</td>
                    <td>{{ w.vsz|filesizeformat }}</td>
                    <td>{{ w.rss|filesizeformat }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="module balanced">
        <table>
            <caption>{% trans 'Spooler jobs' %}</caption>
            <thead>
                <tr>
                    <th>job filename</th>
                    <th>environment</th>
                </tr>
            </thead>
            <tbody>
        {% for j in jobs %}
            <tr>
                <td align="left">{{ j.file }}</td>
                <td align="left">{{ j.env }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>

    {% if masterpid %}
    <a href="{% url 'uwsgi_reload' %}">{% trans 'Gracefully reload uWSGI' %}</a>
    <a href="{% url 'uwsgi_cache_clear' %}">{% trans 'Clear uWSGI cache' %}</a>
    {% endif %}
</div>
{% endif %}
